{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}">
    <title>{% block title %}Название{% endblock %}</title>
</head>
<header>
    <h2 align="center">Название</h2>
    {% if name_user %}
        <a href="{% url 'logout_user' %}">.....Выйти.....</a>
    {% else %}
        <div class="object">
            <h3 align="center">Регистрация</h3>
                <a href="{% url 'add_customer' %}">.....Заказчик.....</a>
                <a href="{% url 'add_executor' %}">.....Исполнитель.....</a>
        </div>
        <div class="object">
            <h3 align="center">Войти</h3>
                <a href="{% url 'login_customer' %}">.....Заказчик.....</a>
                <a href="{% url 'login_executor' %}">.....Исполнитель.....</a>
        </div>
    {% endif %}
    <h3 align="center">
        <a href="{% url 'main_index' %}">.....Главная.....</a>
        <a href="/admin">.....Административная панель.....</a>
    </h3>
</header>
<body>
    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
</body>
<footer><h2 align="center">Все права защищены (c)2024</h2></footer>
</html>
